<div id="members-table">
	<table class="table table-bordered table-condensed table-striped">
		<thead>
			<tr>
				<th>member</th>
				<th>billing system id</tn>
				<th>billable usage last month</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @members.each do |member| %>
			<tr>
				<td>
					<%= link_to(member.full_name,
						admin_reports_path(
							id: member.id,
							start_date: member.last_month.first.strftime("%m/%d/%Y"),
							end_date: member.last_month.last.strftime("%m/%d/%Y"))
						)
					%>
				</td>
				<td><%= member.pay_simple_customer_id %></td>
				<td class="billable-days"><%= member.billable_usage_last_month%></td>
				<td>
						<%= button_to(
							'Mark as invoiced',
							invoiced_admin_member_url(member),
							method: :patch, class: 'btn btn-primary')
						%>
					</div>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
