<p>
	Hi <%= @member.first_name %>,
</p>
<p>
	As of today, you have used <%= @member.usage_this_month.to_s %> of the <%= Member::AFFILIATE_FREE_DAY_PASSES %> day passes included in your billing plan this month.
</p>
<p>
	If you think you should not be charged for this day pass, please fill out this 
	<a href='https://docs.google.com/spreadsheet/viewform?formkey=dFpVZ0pNOGJSN3VlRzhMV2lWdXk1TFE6MQ#gid=0'>form</a> so we know not to charge you.
</p>
<p>
	If you have any questions, please email Anna at schumaker.anna@gmail.com or Tom at twbrandt@gmail.com.
</p>